@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Inter', sans-serif;
}

ul {
  list-style: none;
}

input {
  border-radius: 7.983px;
  border: 1.597px solid 1px #a09c99;
  box-shadow: 0px 3.19319px 6.38638px 0px;
  padding: 3px;
}

#main-title {
  color: #343541;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  text-align: center;
  margin-top: 1%;
}
#wrapper {
  height: 100%;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
}
#wrapper-content {
  display: flex;
  color: #fff;
  background-color: #3f7c85;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 600px;
  padding: 5px;
  margin: auto;
  border-radius: 40px;
}

#input-container {
  display: flex;
  justify-content: center;
}
#info-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  width: 100%;
}
#inner-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#uf-list {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

#info-list {
  padding: -1px 6px 6px 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#uf-list,
#info-list > li {
  margin-bottom: 7px;
}

#cnpjButton {
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(90deg, #264653 0%, #2a9d8f 100%);
  padding: 10px 30px;
  border: solid #0096c7 2px;
  box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  transition: 777ms all;
  transform: translateY(0);
}
#cnpjButton:hover {
  transition: 777ms all;
  padding: 10px 51px;
  transform: translateY(-0px);
  background: linear-gradient(90deg, #2a9d8f 0%, #0096c7 100%);
  color: #ffffff;
  border: solid 2px #0096c7;
}

#modal-info {
  display: none;
  margin-top: 2rem;
  flex-direction: column;
  transition: 1000ms;
  transform: translateY(-0px);
  align-items: center;
  width: 500px;
  height: 300px;
  border-radius: 10px;
}

#modal-info > p {
  margin-bottom: 2px;
}

#modal-info,
#info-list > span {
  font-size: 20px;
  margin-bottom: 12px;
}

@media screen and (max-width: 425px) {
  #main-title {
    font-size: 2rem;
  }
  #wrapper-content {
    width: 90%;
  }
}
